.carousel-inner {
  height: 317px;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  right: 0;
  left: 0;
  padding-bottom: 0px;
  bottom: 0px;
}

tr {
  cursor: pointer;
}