<div th:fragment="lib" xmlns:th="http://www.w3.org/1999/xhtml">

    <!--JQuery-->
    <script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>

    <!--AngularJs-->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-ui-router.js"></script>

    <!--BootStrap-->
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Less-->
    <script type="text/javascript" src="lib/less/less.min.js"></script>

</div>

<div th:fragment="angularCtrl" xmlns:th="http://www.w3.org/1999/xhtml">

</div>