<div th:fragment="lib" xmlns:th="http://www.w3.org/1999/xhtml">

    <!--JQuery-->
    <script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jQuery/jquery-lastest.min.js"></script>

    <!--AngularJs-->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular/angular-touch.js"></script>
    <script type="text/javascript" src="lib/angular/ui-bootstrap-tpls-2.4.0.min.js"></script>

    <!--BootStrap-->
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Less-->
    <script type="text/javascript" src="lib/less/less.min.js"></script>

    <!--slick-->
    <script type="text/javascript" src="lib/tinyCarousel/jquery.tinycarousel.min.js"></script>

</div>

<div th:fragment="angularCtrl" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--demo_data-->
    <script type="text/javascript" src="js/demo_data/audit-informations.js"></script>

    <!--root-->
    <script type="text/javascript" src="js/audit.js"></script>

    <!--service-->

    <!--main-->
    <script type="text/javascript" src="js/main-ctrl.js"></script>

    <!--service-->
    <script type="text/javascript" src="js/service/theme-service.js"></script>
    <script type="text/javascript" src="js/pages/news-panel-directive.js"></script>

    <!--page-->
    <script type="text/javascript" src="js/pages/index-ctrl.js"></script>
    <script type="text/javascript" src="js/pages/article-ctrl.js"></script>
    <script type="text/javascript" src="js/pages/search-ctrl.js"></script>
    <script type="text/javascript" src="js/pages/theme-ctrl.js"></script>

</div>