<div id="index">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div uib-carousel="" active="active" interval="myInterval" no-transition="false" no-pause="true">
                    <div uib-slide="" ng-repeat="carousel in carousels track by $index" index="$index" style="height: 100%;" ng-click="gotoNews(carousel.connect, carousel.theme)">
                        <img ng-src="{{carousel.imageUrl}}" style="margin:auto;" />
                        <div class="carousel-caption">
                            <!--<h4>Slide {{slide.id}}</h4>-->
                            <p>{{carousel.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <news-panel class="col-md-6 col-sm-12" themes="[7,8]" theme-map="themeMap" limit="8"></news-panel>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading" style="padding-left: 8px;font-size: 1.3em;font-family: 'Microsoft Yahei';color: #5e5e5e;">
                    审计风采
                </div>
                <div class="panel-body photos">
                    <div class="viewport">
                        <ul class="overview">
                            <li ng-repeat="photo in photos"><a ng-href="{{photo.url}}"><img ng-src="{{photo.imageUrl}}"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <news-panel class="col-md-6 col-sm-12" themes="[9,10]" theme-map="themeMap"></news-panel>
        <news-panel class="col-md-6 col-sm-12" themes="[18,19]" theme-map="themeMap"></news-panel>
    </div>
    <div class="row">
        <news-panel class="col-md-6 col-sm-12" themes="[20,21]" theme-map="themeMap"></news-panel>
        <news-panel class="col-md-6 col-sm-12" themes="[22,23]" theme-map="themeMap"></news-panel>
    </div>
</div>