<div id="institution">
    <p>根据《中共重庆市委办公厅重庆市人民政府办公厅关于印发〈重庆市开州区党政机构设置方案〉的通知》（渝委办〔2016〕85 号）和《中共重庆市开州区委重庆市开州区人民政府关于重庆市开州区党政机构设置的实施意见》（开州委发〔2016〕12 号），设立重庆市开州区审计局，为区政府工作部门。</p>
    <div class="chapter">内设机构：</div>
    <p>（一）党政办公室（信访办公室）。</p>
    <p>负责机关日常工作的协调和重要事项的督查督办；负责日常行政公文起草审核工作；负责文电、会务、档案、机要、保密、安全、信访等工作；负责机关政务、党务和群团工作；承担机关及所属单位的干部人事、机构编制、教育培训、离退休人员管理、财务管理、国有资产管理、综合考核、政务信息等工作。</p>
    <p>（二）法规审理科。</p>
    <p>负责审理有关审计业务事项；负责审计报告（意见）的核查、检查工作；承担机关规范性文件的合法性审核和审计文书、表式的规范化工作；承办审计听证、行政复议、行政诉讼工作；负责廉政建设和干部的廉洁自律的监督工作；负责受理群众对本局职工违纪行为的控告、检举，并组织调查。</p>
    <p>（三）财政金融科。</p>
    <p>承担全局财政审计工作的组织、指导和协调；承担对本级预算执行情况、本级各部门（含直属单位）预算执行情况、决算进行审计监督；承担对镇乡人民政府（街道办事处）预算执行情况、决算情况进行审计监督；根据上级审计机关、区政府授权对国有金融机构和地方金融组织的财务收支及资产、负债、损益进行审计监督；承担对区级财政收支有关的特定事项的专项审计或审计调查；牵头起草本级预算执行情况及其他财政收支的审计结果报告、工作报告和审计问题整改情况报告。</p>
    <p>（四）经济责任科（重庆市开州区经济责任审计工作联席会议办公室）。</p>
    <p>承担全区经济责任审计工作的组织、指导和协调；负责经济责任审计联席会办公室工作；承担党政机关、审判机关、检察机关、群众团体及企事业单位区管领导干部、领导人员的任期经济责任的审计监督；承担全区国有及国有控股地位或者主导地位的企业和上级审计机关授权的中央在渝企业的资产、负债、损益的审计监督；承担自然资源环境审计或专项审计调查；承办区政府有关部门（含所属单位）的预算执行及财政财务收支和镇乡（街道）预决算执行进行审计。</p>
    <p>（五）政府投资科。</p>
    <p>承担固定资产投资审计工作的组织、指导和协调；负责政府投资项目程序、造价、资金、质量和绩效等方面的审计监督；负责政府投资项目结（决）算全覆盖审计工作；承担由区政府主管部门管理和受区政府委托由社会团体管理的农业、林业、扶贫开发、农业综合开发等资金的审计或审计调查；承担区级政府管理的与固定资产投资有关的特定事项的专项审计或审计调查。</p>
    <p>（六）行政事业科。</p>
    <p>承担与本级财政有预算拨缴款关系的政府机关、政协机关、司法机关和政党组织、社会团体的财政财务收支审计监督；承办行政事业单位机构设置、编制使用及有关机构编制规定执行情况的审计监督；承办区级财政收支中与行政事业方面有关的特定事项的专项审计或审计调查；按照上级审计机关授权，承担有关单位和部门三峡移民资金及三峡移民后期扶持资金等的审计监督；承办区政府有关部门（含所属单位）的预算执行及财政财务收支和镇乡（街道）预决算执行审计。</p>
    <p>（七）社会保障科。</p>
    <p>承担对政府有关部门管理和受政府委托由社会团体管理的各类社会保障基金以及各项社会捐赠资金管理使用情况的审计监督；根据上级审计机关授权，组织审计国际组织、国际金融机构、外国政府及其机构向我区政府及其部门、企事业、社会团体单位提供的贷款、援助项目的财务收支的审计监督；承办社会保障基金、社会捐赠资金、利用外资情况的专项审计或审计调查。</p>
    <p>（八）内审管理科。</p>
    <p>承担全区内部审计工作的业务指导与监督；核查社会审计组织对依法属于审计监督对象的单位出具的相关审计报告；承办全区审计科研和学术交流；承担国家机关事业单位内部审计人员培训工作。</p>
    <p>（九）政策执行科。</p>
    <p>承担牵头组织实施国家重大决策部署和宏观调控政策落实情况的跟踪审计；负责综合性文件调研起草、修正工作；负责审计计划统筹和统计的培训、审核、汇总和上报工作；负责审计文书审核复核工作；负责牵头审计理论调研等工作。</p>
    <p>（十）信息技术科。</p>
    <p>承担以计算机审计为主的审计项目；负责审计信息化系统的建设与管理维护等工作；负责管理和维护本局网络、计算机设备设施；负责本局计算机审计的数据采集、储存、管理、技术支持和培训等工作。</p>
    <div class="chapter">人员编制</div>
    <p>重庆市开州区审计局机关行政编制 21 名。其中：局长 1 名、副局长 3 名；内设机构正职 13 名（其中群团职数 3 名）、副职 4 名。党组织和纪检（监察）组织按有关规定设置配备。</p>
    <p>机关工勤编制 2 名。</p>
</div>