<div id="responsibility">
    <p>根据《中共重庆市委办公厅重庆市人民政府办公厅关于印发〈重庆市开州区党政机构设置方案〉的通知》（渝委办〔2016〕85 号）和《中共重庆市开州区委重庆市开州区人民政府关于重庆市开州区党政机构设置的实施意见》（开州委发〔2016〕12 号），设立重庆市开州区审计局，为区政府工作部门。</p>
    <div class="chapter">主要职责：</div>
    <p>（一）贯彻执行审计法律、法规、规章和方针政策；严格执行审计工作规章制度。</p>
    <p>（二）组织实施国家重大决策部署和宏观调控措施落实情况的跟踪审计。</p>
    <p>（三）负责对国家财政收支和法律法规规定属于审计监督范围的财务收支的真实、合法和效益进行审计监督。</p>
    <p>（四）对审计、专项审计调查和核查社会审计组织相关审计报告的结果承担责任。</p>
    <p>（五）向区政府提交同级预算执行情况的审计结果报告；受区政府委托向区人大常委会提出同级预算执行情况和其他财政收支审计工作报告、审计问题整改报告。</p>
    <p>（六）对本级预算执行情况、本级各部门（含直属单位）预算执行情况、决算及其他资金的管理和使用情况进行审计监督；对镇乡人民政府（街道办事处）预算执行情况、决算及其他财政资金的管理和使用情况进行审计监督。</p>
    <p>（七）对使用财政资金的区属事业单位、社会团体和受区政府委托管理的社会保障基金、环境保护资金、社会捐赠资金以及其他有关基金、资金的财务收支进行审计监督。</p>
    <p>（八）组织实施全区经济责任审计工作；按规定对区管领导干部及依法属于区审计局审计监督对象的其他单位主要负责人进行经济责任审计。</p>
    <p>（九）按审计法规定和上级审计机关、区政府授权，对国有金融机构和地方金融组织的资产、负债、损益进行审计监督；按上级审计机关和区政府授权，对国际金融组织和外国政府援助、贷款项目的财务收支进行审计监督。</p>
    <p>（十）组织实施政府投资项目审计，强化程序、造价、资金、质量和绩效等方面的审计监督，实现结（决）算审计全覆盖。</p>
    <p>（十一）对区属国有企业、国有资产占控股地位或者主导地位的企业和上级审计机关授权的中央、重庆市在开州区企业的资产、负债、损益进行审计监督。</p>
    <p>（十二）根据上级机关授权对移民资金等专项资金进行审计监督。</p>
    <p>（十三）对法律法规规定应当由审计机关审计的其他事项进行审计监督；对行政事业单位机构设置、编制使用及有关机构编制规定执行情况的审计监督；对与国家财政收支有关的特定事项，对地方、部门、单位进行专项审计调查。</p>
    <p>（十四）依法检查审计决定执行情况，督促纠正和处理审计发现的问题，依法办理被审计单位对审计决定提请行政复议、行政诉讼或区政府裁决中的有关事项；协助配合有关部门查处相关重大案件。</p>
    <p>（十五）负责审计整改的督促检查，以及本级预算执行和其他财政收支审计查出问题的整改工作，建立整改检查工作机制。</p>
    <p>（十六）指导和监督内部审计工作，核查社会审计组织对依法属于审计监督对象的单位出具的相关审计报告。</p>
    <p>（十七）负责开展全区审计科学研究和学术交流。</p>
    <p>（十八）参与上级审计机关安排的有关审计项目，承办区政府和上级审计机关交办的其他事项。</p>
</div>