<div id="search">
    <table class="table">
        <thead>
        <tr>
            <th>新闻标题</th>
            <th style="width: 150px">发布时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="new in news | filter:{title:keyword} | filter:{deleted:false}">
            <td ng-if="!new.useOuter" title="{{new.title}}"><a ui-sref="article({themeId: new.theme, id: new.id})">{{new.title | cut:true:54:' ...'}}</a></td>
            <td ng-if="new.useOuter" title="{{new.title}}"><a href="{{new.outerUrl}}" target="_blank">{{new.title | cut:true:54:' ...'}}</a></td>
            <td>{{new.updated | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>
</div>