.row {
  margin-left: 0px;
  margin-right: 0px;
}

.collapse li {
  cursor: pointer;
}

#index {
  @import 'pages/index';
}

#article {
  @import 'pages/article';
}

#articles {
  @import 'pages/articles';
}

#responsibility {
  @import 'pages/responsibility';
}

#institution {
  @import 'pages/institution';
}

#leader {
  @import 'pages/leader';
}

#contact {
  @import 'pages/contact';
}

#search {
  @import 'pages/search';
}